// @import "../common/variables.scss", "../common/mixins.scss";

.adminify-ui {
    .media-toolbar {
        border-color: $border;
        border-radius: $wpRadius;
    }

    .view-grid {
        &::before {
            color: $primary !important;
        }

        &:hover {
            &::before {
                color: $primary !important;
            }
        }
    }

    .edit-media-header {
        button {
            color: $secondary !important;
            border-color: $border !important;

            &:focus {
                border-color: $border !important;
                background-color: transparent !important;
            }

            &:hover {
                background-color: transparent !important;
            }

            &.media-modal-close {
                color: $danger !important;

                &:hover {
                    span {
                        &::before {
                            color: $danger !important;
                        }
                    }
                }
            }
        }
    }

    .attachments-wrapper {
        ul {
            li {
                .attachment-preview {
                    border-radius: 6px;

                    .thumbnail {
                        border-radius: $wpRadius;
                    }

                    &::after {
                        border-radius: $wpRadius;
                    }
                }

                &:focus {
                    border-radius: $wpRadius;
                    box-shadow: inset 0 0 0 2px $primary !important;
                }
            }
        }
    }

    .load-more-count {
        color: $secondary;
    }

    .media-modal {
        .media-modal-content {
            border-radius: $wpRadius;

            .media-frame-content {
                border-color: $border;

                .thumbnail-image {
                    img {
                        border-radius: $wpRadius;
                    }
                }

                .attachment-info {
                    border-color: $border;

                    .details {
                        div {
                            color: $text;
                        }
                    }
                }
            }
        }
    }

    #drag-drop-area {
        border-color: $border;
        border-radius: $wpRadius;
    }
}
