.wp-adminify {
    #_wp_adminify_admin_page_display {
        .inside {
            margin: 8px 0 0;
            .adminify-wrapper {
                display: flex;
                gap: 20px;
                padding: 26px 0;
                border-top: 1px solid $border;

                .adminify-section {
                    padding: 0;
                    .adminify-section-title {
                        display: none;
                    }
                }
                .adminify-nav {
                    width: 225px;
                    height: 100%;
                    padding-left: 12px;
                    ul,
                    li {
                        margin: 0;
                    }
                    a {
                        display: block;
                        font-size: 13px;
                        font-weight: 500;
                        color: $secondary;
                        padding: 8px 12px;
                        border-radius: $wpRadius;
                        &.adminify-active {
                            color: $white;
                            background-color: var(--adminify-primary);
                        }
                    }
                }
                .adminify-content {
                    width: calc(100% - 225px);
                    border-left: 1px solid $border;
                    .adminify-sections {
                        padding: 12px;
                        padding-top: 0;
                        &:has(.adminify-field-checkbox):nth-child(2) {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}
