// @import "variables";

// mixins for fonts

// @mixin nunitosans {
//     font-family: "Nunito Sans", sans-serif;
// }

@mixin postboxreset {
    background: $whitecolor;
    box-shadow: $grayshadow;
    border: 0;
    border-radius: $radius6p;
}

@mixin buttonprimary {
    background-color: $primarycolor;
    border-radius: $radius6p;
    color: $whitecolor;
}

// @mixin displaycenter {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// @mixin insidepadding {
//     padding: 0 1.5rem 11px;
// }

// @mixin font12 {
//     font-size: $fontsize - 2px;
//     font-weight: $weight400;
// }

@mixin font14_400 {
    font-size: $fontsize;
    font-weight: $weight400;
}

@mixin font14_600 {
    font-size: $fontsize;
    font-weight: $weight600;
}

@mixin font14_700 {
    font-size: $fontsize;
    font-weight: $weight700;
}

// @mixin font20_600 {
//     font-size: $fontsize + 6px;
//     font-weight: $weight600;
// }

// @mixin font20_700 {
//     font-size: $fontsize + 6px;
//     font-weight: $weight700;
// }

@mixin radius6 {
    border-radius: $radius6p;
}

@mixin radiusround {
    border-radius: 50%;
}

// @mixin subsubsub {
//     margin-top: 0;
//     padding: 9px 0 0;

//     li {
//         font-size: 0;

//         a {
//             background-color: $whitecolor;
//             border: 1px solid $lightgray;
//             border-radius: $radius6p;
//             // color: var(--adminify-menu-text-color);
//             display: inline-block;
//             font-size: $fontsize;
//             font-weight: $weight600;
//             line-height: $lineheight20 - 1px;
//             margin-right: 5px;
//             padding: 7px 12px 8px;

//             .count {
//                 background-color: var(--adminify-btn-bg);
//                 border-radius: 3rem;
//                 color: var(--adminify-text-color);
//                 display: inline-block;
//                 font-size: $fontsize - 4px;
//                 float: right;
//                 line-height: $lineheight16 - 5px;
//                 margin: 3px 0 0 5px;
//                 padding: 1px 4px;
//                 text-align: center;

//                 span {
//                     color: $whitecolor;
//                     font-size: $fontsize - 4px;
//                 }
//             }

//             &.current {
//                 background-color: $whitecolor;
//                 border-color: $primarycolor;
//                 color: $primarycolor;

//                 .count {
//                     background-color: $primarycolor;
//                     color: var(--adminify-text-color);
//                 }
//             }
//         }

//         &:last-child a {
//             margin-right: 0;
//         }
//     }
// }

// @mixin roundcheckbox {
//     border: 1px solid $blackplaceholder;
//     box-shadow: none;
//     @include radiusround;
//     height: 14px;
//     width: 14px;
//     min-width: inherit;
// }

// @mixin roundcheckbox_2 {
//     border: 1px solid $blackplaceholder;
//     box-shadow: none;
//     @include radiusround;
//     height: 14px;
//     width: 14px;
//     min-width: inherit;
// }

// @mixin squarecheckbox {
//     background-color: $whitecolor;
//     border: 1px solid $blackplaceholder;
//     border-radius: $radius6p - 2px;
//     height: 14px;
//     width: 14px;
//     position: relative;

//     &:checked {
//         background-color: $primarycolor;
//         border-color: $primarycolor;
//         color: $whitecolor;

//         &:before {
//             content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E");
//             background-color: transparent;
//             filter: brightness(0) invert(1);
//             height: 16px;
//             width: 16px;
//             top: -2px;
//             left: -2px;
//             margin: 0;
//             position: inherit;
//         }
//     }
// }

@mixin content_input {
    background-color: var(--adminify-input-bg);
    border: none;
    @include radius6;
    // color: var(--adminify-admin-bar-input-text);
    color: $titlecolor;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
}

@mixin search_input {
    @include content_input;
}

// @mixin selectone {
//     background-color: $whitecolor;
//     border: 1px solid $whitegray;
//     @include radius6;
//     color: $blackmuted;
//     min-height: 36px;
// }

// @mixin post_sidebar_options {
//     span {
//         color: $titlecolor;
//         @include font14_400;
//     }

//     button {
//         color: $primarycolor;
//         @include font14_400;
//         height: auto;
//         padding: 0;
//         outline: 0;
//     }
// }

@mixin submitfill {
    @include buttonprimary;
    border: 1px solid $primarycolor;
    @include font14_600;
    line-height: $lineheight20 + $lineheight16 - 2px !important;
    padding: $btnpadding !important;
}

@mixin submitfillHover {
    background-color: $whitecolor !important;
    border-color: $primarycolor !important;
    color: $primarycolor !important;
}

// @mixin submittransparent {
//     background-color: transparent !important;
//     border: 1px solid $primarycolor !important;
//     border-radius: $radius6p !important;
//     color: $primarycolor !important;
//     @include font14_600;
//     line-height: $lineheight20 + $lineheight16 - 2px !important;
//     padding: $btnpadding !important;
// }

// @mixin submittransparentHover {
//     background-color: $primarycolor !important;
//     color: $whitecolor !important;
// }

// @mixin buttondisabled {
//     background-color: transparent !important;
//     border: 1px solid $blackmuted !important;
//     border-radius: $radius6p !important;
//     color: $blackmuted !important;
//     @include font14_600;
//     line-height: $lineheight20 + $lineheight16 - 2px !important;
//     padding: $btnpadding !important;
// }

// @mixin transition25 {
//     transition: all 0.25s ease;
// }

// @mixin roundcheckFill {
//     input[type="checkbox"] {
//         border: 1px solid $blackplaceholder;
//         border-radius: 50%;
//         box-shadow: none;
//         height: 14px;
//         width: 14px;
//         min-height: auto;
//         min-width: auto;
//         position: relative;

//         &:checked {
//             background-color: $primarycolor;
//             border-color: $primarycolor;
//             color: $whitecolor;

//             &:before {
//                 background-color: transparent;
//                 filter: brightness(0) invert(1);
//                 height: 15px;
//                 width: 15px;
//                 top: -1px;
//                 left: -2px;
//                 margin: 0;
//                 position: inherit;
//             }
//         }
//     }
// }

// @mixin roundradioFill {
//     input[type="radio"] {
//         border: 1px solid $blackplaceholder;
//         border-radius: 50%;
//         box-shadow: none;
//         height: 14px;
//         width: 14px;
//         min-height: inherit;
//         min-width: inherit;
//         position: relative;

//         &:checked:before,
//         &:checked::before {
//             content: "";
//             background: $primarycolor;
//             border-radius: 50%;
//             height: 8px;
//             width: 8px;
//             position: absolute;
//             left: 2px;
//             top: 2px;
//             margin: 0;
//         }
//     }
// }

// @mixin cardshadow {
//     background-color: $whitecolor;
//     border: 0;
//     box-shadow: $grayshadow;
//     border-radius: $radius6p + 2px;
// }

/*
* Useable Mixin
*/
@mixin flex_col {
    display: flex;
    flex-direction: column;
}

@mixin flex_center {
    display: flex;
    align-items: center;
}
@mixin flex_center_center {
    @include flex_center;
    justify-content: center;
}

@mixin flex_between {
    display: flex;
    justify-content: space-between;
}

@mixin btn {
    color: $white;
    font: {
        size: 12px;
        weight: 700;
    }
    line-height: 1.3;
    padding: 8px 12px;
    border-radius: $wpRadius;
    cursor: pointer;
    transition: all 0.15s;
}

@mixin btnVarient($bgColor, $hoverColor) {
    border: 1px solid $bgColor;
    background: $bgColor;
    &:hover {
        color: $bgColor;
        background: transparent;
        border-color: $bgColor;
    }
}
@mixin btnOutlineVarient($bgColor, $hoverColor) {
    border: 1px solid $bgColor;
    color: $bgColor;
    &:hover {
        color: $hoverColor;
    }
}

@mixin font($size, $weight, $height) {
    font: {
        size: $size;
        weight: $weight;
    }

    line-height: $height;
}

@mixin display($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin wpHover($color, $hover) {
    color: $color;

    &:hover {
        color: $hover;
    }
}

@mixin dimension($width, $height) {
    width: $width;
    height: $height;
}

@mixin wpColor($text, $bg) {
    color: $text;
    background-color: $bg;
}

@mixin wrapper {
    background: $white;
    padding: 24px;
    margin-right: 16px;
    border: 1px solid $border;
    border-radius: $wpRadius;
}

@mixin addNewPlugins {
    .wp-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0;
        margin: 32px 0 16px 0;
        padding: 0;
        box-shadow: none;

        .filter-links {
            li {
                a {
                    font-size: 13px !important;
                    font-weight: 600 !important;
                    line-height: 20px !important;
                    color: $wpMenuColor !important;

                    &.current {
                        color: $link;
                        border-bottom: 3px solid $link;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }

                &.plugin-install-recommended {
                    a {
                        position: relative;
                        z-index: 99;

                        &::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 28px;
                            top: 7px;
                            left: -8px;
                            padding: 4px 8px;
                            border-radius: 4px;
                            background-color: #eaecfa;
                            z-index: -99;
                        }
                    }
                }
            }
        }

        // .wp-filter-search {
        //     background: transparent !important;
        //     border: 1px solid $border !important;
        //     &:focus {
        //         border-color: $primary !important;
        //         box-shadow: none;
        //     }
        // }
    }

    .wp-list-table {
        // padding: 30px;

        #the-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;

            .plugin-card {
                float: none !important;
                margin: 0 !important;
                width: 100%;
                border: 1px solid $border;
                border-radius: $wpRadius;

                .plugin-card-top {
                    padding: 16px 16px 0 16px;

                    .name {
                        margin-left: 80px;

                        h3 {
                            margin: 0 12px 4px 0;

                            a {
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 20px;
                                color: $titleColor;
                            }
                        }

                        .plugin-icon {
                            position: absolute;
                            top: 16px;
                            left: 20px;
                            width: 60px;
                            height: 60px;
                            margin: 0 20px 20px 0;
                        }
                    }

                    .desc {
                        margin: 0 128px 0 80px;

                        p {
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 20px;
                            color: $text;
                            margin: 0;
                        }
                    }

                    .action-links {
                        .plugin-action-buttons {
                            .button {
                                &.install-now {
                                    border: 1px solid $primary;
                                    color: $primary !important;
                                }

                                &.activate-now {
                                    border-color: #17b26a !important;
                                    background-color: #17b26a !important;
                                    color: #fff;
                                }

                                &.update-now {
                                    border-color: #f4b740 !important;
                                    color: #f4b740;
                                }
                            }
                            .open-plugin-details-modal {
                                color: $primary !important;
                            }
                        }
                    }
                }

                .plugin-card-bottom {
                    padding: 12px 16px;
                    background-color: $bodybg;
                    border-top: 1px solid $border;
                    border-radius: 0 0 $wpRadius $wpRadius;
                }

                .authors cite a {
                    color: $primary !important;
                }
            }
        }
    }
}
